/*Only Generalized Code needed for multiple pages should be placed here*/


#header-main{
    z-index: 10000;
    background-color: #053B74;
    height: 120px;
    border-bottom: 5px solid #EDAA28;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
#nav-main{
    width: 100%;
    color: white;
    align-self: flex-end;
    font-size: 18px;
    display: block;
    font-family: "Roboto Slab", Georgia;
}
#nav-main > ol{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}
#nav-main > ol > li{
    display: inline;
    padding: 0px 20px 0px 20px;
}
#nav-main > ol > li > a{
    color: white;
}
#nav-main > ol > li > a:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
#kent-logo-nav{
    display: block;
    object-fit: contain;
    height: 95px;
    padding: 20px;
    position:absolute;
}
#ksu-hs-logo-nav{
    height: 55px;
}
#ksu-hs-logo-nav-span{
    width: 100%;
    position: absolute;
    display: block;
    text-align: center;
    margin-top: 20px;
}
#fa-sign-out-alt-span{
    width: 100%;
    position: absolute;
    display: block;
    text-align: right;
}
#fa-sign-out-alt-span > a > i{
    margin: 20px;
    color: white;
    font-size: 20px;
}
#fa-bar-span{
    display: none;
    
}
/*****************Mobile*********************/
@media screen and (max-width: 600px) {
    #kent-logo-nav{
        display: none;
    }
    #fa-sign-out-alt-span{
        width: 100%;
        text-align: left;
    }

    #fa-bar-span{
        width: 100%;
        display: block;
        position: absolute;
        text-align: right;
        padding: 20px;
        z-index: 2;
    }
    #fa-bar-span > a{
        color: white;
        font-size: 20px;
    }
    #header-main{
        height: 90px;
    }
    #nav-main{
        display: none;
        width: 100vw;
        height: 100vh;
        color: white;
        font-family: "Roboto Slab", Georgia;
        font-size: 18px;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;

    }
    #nav-main > ol{
        list-style: none;
        width: 100%;
    }
    #nav-main > ol > li{
        display: block;
        padding: 0px 20px 0px 20px;
    }
}
/*****************Desktop*********************/
@media screen and (min-width: 600px) {
    
    
}
.switcher {
	display: flex;
	align-items: center;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
	background-color: transparent;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.switcher-item:hover {
	background-color: #f2f3f5;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}

.apt-centered{
    padding-top: 5%;
    text-align: center;
}
#my-calendar{
    width: 95%;
    padding-left: 5%;
}
#campus-select-cont{
    padding-left: 5%;
}
#time-select-form{
    margin-right: 20px;
}