.panel-info >.panel-heading
{
    background: #053b74;
    color: white;
}

.panel-info{
    border-color: #053b74;
}
/* It was frying my eyes as full white */
body {
    /*background: #f8f8f8; */
    background: url(https://i.gyazo.com/15a72c81de55d538e8ad2c58295d0f8c.png);
}


